.hero {
    max-width: 1600px;
    padding-top: 184px;
    padding-bottom: 191px;
    margin: 0 auto;
    height: 700px;
  
    background-image: url("/img/hero-image/hero-image.jpg");
    
    background-repeat: no-repeat;
    background-size: cover;
    
}

.hero__title {

}

.hero__description {

}

.hero__buttons {
    
}

.hero__button {

} 

.hero__button--quote {

}

.hero__button--learn{

}